streamlit
langchain
langchain_community
langchain_together
sentence-transformers
pypdf
python-dateutil
python-magic
typing-extensions
langchain_huggingface
langchain_chroma
pysqlite3-binary
chromadb==0.3.29
